{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
<div class="container-fluid">
    </br>
    <canvas id="myPerDayChart" class="graph" height="500" width="1200"></canvas>
    {% include "running/js/running_mileage_by_day_graph.js" %}
    </br>
    </br>
    </br>

  <h3 id="at-subheader">Raw Data</h3>
  </br>
  <div style="margin-right: 1%; margin-left: .5%;">
    <table class="table table-striped" style="100%">
      <tr>
        <th>Day</th>
        <th>Mileage</th>
        <th>Location</th>
        <th>Type of Run</th>
        <th>Notes</th>
      </tr>
      {% for rd in running_days %}
      <tr class="bg-success">
        <td>{{ rd.day }}</td>
        <td>{{ rd.mileage }}</td>
        <td>{{ rd.location }}</td>
        <td>{{ rd.type_of_run }}</td>
        <td>{{ rd.notes }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock js %}

