table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    list-style: none;
}

a#home {
    text-decoration: none;
    color: #000;
}

.nav li {
    padding-top: 17px;
    font-size: 1.2em;
}
