{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<p class="margin-text">Hello, my name is Scotty. I currently live in Atlanta, GA after hiking the Appalachian Trail last year (nobo'17) and I am currently pursuing a junior software developer position (preferably python) or a QA analyst position.
</br>
</br>
I have begun contributing to PyAtl's open source project <a href="https://github.com/pyatl/podium-django">Podium</a> and regularly attend the Atlanta Python meetups. Please feel free to <a href="mailto:scottabrown89@gmail.com">email</a> me if you have any questions about the projects below or hiking the trail. Thank you for visiting!</p>
<h3 class="margin-text-no-top">Projects:</h3>
<ul class="margin-text-no-top" id="project-list">
    <li><a href="{% url 'at_show' %}">Appalachian Trail</a>
        <p class="subtext">A collection of data visualizations, pictures, video, and frequently asked questions</p></li>
    <li><a href="{% url 'arock_index' %}">Athens Rock</a>
        <p class="subtext">Listen to <a href="https://athensrock.com">Athens Rock 100.7</a> from anywhere (web scraping and Spotify API)</p></li>
    <li><a href="https://github.com/pyatl/podium-django">Podium</a>
        <p class="subtext">An open source Django application for booking and scheduling talks for meetups</p></li>
    <li><a href="https://github.com/sabrown89">Github</a>
        <p class="subtext">A collection of my projects and practice problems I perform regularly</p></li>
</ul>
{% endblock %}
