{% extends "base.html" %}
{% load static %}

{% block content %}
<h3 class="margin-text-no-top">Projects:</h3>
<ul class="margin-text-no-top" id="project-list">
    <li><a href="{% url 'gardening:index' %}">Plants</a>
        <p class="subtext">Sign up for plants grown from seed and see what's growing</p></li>
    <li><a href="{% url 'at_show' %}">Appalachian Trail</a>
        <p class="subtext">A collection of data visualizations, pictures, video, and frequently asked questions</p></li>
    <li><a href="{% url 'arock_index' %}">Athens Rock</a>
        <p class="subtext">Listen to <a href="https://athensrock.com">Athens Rock 100.7</a> from anywhere (web scraping and Spotify API)</p></li>
    <li><a href="{% url 'running:index' %}">Running Data</a>
        <p class="subtext">Shows a table of data detailing my marathon training along with graphs</p></li>
    <li><a href="https://github.com/pyatl/podium-django">Podium</a>
        <p class="subtext">An open source Django application for booking and scheduling talks for meetups</p></li>
    <li><a href="https://github.com/sabrown89">Github</a>
        <p class="subtext">A collection of my projects and practice problems I perform regularly</p></li>
</ul>
{% endblock %}
