{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="seeds-container">
    <h3 id="seeds-subheader">Seeds</h3>
    <div style="margin-right: 1%; margin-left: .5%;">
      {% for classification, seed_list in seed_classes.items %}
      <h5 class="seeds-classification">{{ classification }}</h5>
        <table class="table table-striped" style="100%">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Average days to harvest</th>
                <th>Purchase date</th>
                <th>Provider</th>
            </tr>
            {% for seed in seed_list %}
            <tr class="bg-success">
                <td>{{ seed.name }}</td>
                <td>{{ seed.description }}</td>
                <td>{{ seed.sub_classification }}</td>
                <td>{{ seed.average_days_to_harvest }}</td>
                <td>01/01/2022</td>
                <td>{{ seed.provider }}</td>
            </tr>
            {% endfor %}
        </table>
      {% endfor %}
  </div>
{% endblock %}
