{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h4><a href="{% url 'arock_index' %}">Go Back to Athens Rock</a></h4>
        </div>
        <div class="col-md-5 offset-col-md-3">
            <h3 class="page-display">Athens Rock Dashboard</h3>
        </div>
    </br>
    <table>
        <tr>
            <th>Raw Song Name</th>
            <th>Artist</th>
            <th>Name</th>
            <th>Added to Playlist?</th>
            <th>Created At</th>
        </tr>
        {% for song in songs %}
        <tr>
            <td>{{ song.raw_name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.name }}</td>
            <td>{{ song.added_to_playlist }}</td>
            <td>{{ song.created }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
