{% extends "base.html" %}

{% block js %}
{% endblock js %}

{% block content %}
<div class="container-fluid">
    {% include 'athensrock/athens_rock_header.html' %}

    <div id="accordion" class="panel-group arock-collapse">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How did this project start? How does it work?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This project came about when I was playing in an ultimate frisbee summer league in Athens, GA. One of my friends on the team knew I was involved in software development and asked if I could help him listen to his favorite local radio station while he was out of town.</br></br>
                    <a href="https://athensrock.com">Athens Rock 100.7</a> is a radio station in Athens but it has no streaming option and it's signal fades once you are about twenty miles outside of the city... so how can you listen to a local radio station's music when you are out of town?</br></br>
                    Luckily, the Athens Rock website lists the songs the radio station is currently playing (only about 15 at a time). We can use BeautifulSoup and Requests libraries from Python to scrape the songs from the Athens Rock Website. Now that we have what songs we want, how are we going to play the music?</br></br>
                    After some research about how I could play the music, I found that Spotify has a fairly friendly API. The basic idea would be to retrieve the songs from the Athens rock website, search for them spotify, add the songs that were found to a playlist, and have the end users subscribe to the playlist. I registered for the Spotify API and also found <a href="https://spotipy.readthedocs.io/en/latest">spotipy</a> (a python library for the Spotify Web API) which made authenticating and adding songs much easier.</br></br>
                    The final process was to: Scrape songs from Athens Rock's Website -> Clean up the songs (their formatting is terrible) -> Search for the songs on Spotify -> If a match is found, add the song to the athens_rock playlist and there you have it.</br></br>
                    Follow the <a href="https://open.spotify.com/user/scottyspompom/playlist/7wXwowhd8095cBQdtGJYid">playlist</a> (you must login to Spotify) to listen to what the Athens Rock Radio Station is playing.</br></br></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I want to add songs that are currently being played on Athens Rock 100.7</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if songs_added_in_last_two_hours %}
                        <p>You must wait approximately {{ time_left }} minutes until you can add songs again (refresh page to update)</p>
                    {% elif sp.needs_authentication %}
                        <a href="{{ sp.get_authorize_url }}"><button type="button" class="btn btn-primary">Click here to Authenticate</a></button>
                    {% else %}
                        <a href="{% url 'arock_add_songs' %}"><button type="button" class="btn btn-primary">Add Songs (takes about 5-15 seconds)</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I want to see the data behind the songs that have been added previously</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="{% url 'arock_dashboard' %}">Visit the Dashboard</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to listen to Athens Rock music</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="{% url 'arock_listen' %}">Listen here on the website</a>
                    </br>
                    <a id="arock-right" href="https://open.spotify.com/user/scottyspompom/playlist/7wXwowhd8095cBQdtGJYid">Go to the playlist and listen on your own spotify account</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
