{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    {% include 'appalachian_trail/at_header.html' %}
    <h3 id="at-subheader">FAQ</h3>

    <div class="faq-box">
        <ul class="list-unstyled">
            <li class="faq-question"><strong>When did you start and end? How long did it take you?</strong></li>
            <li class="faq-answer">We started March 14th on Springer Mountain in Georgia and ended September 7th on Mt. Katahdin in Maine. It took 178 days or just under six months. The average thru hiker will finish in 5-6 months.</li>
            <li class="faq-question"><strong>How much did you spend?</strong></li>
            <li class="faq-answer">From the day we started to the day we finished, I spent ~$5,200 which excludes the gear I started with.</li>
            <li class="faq-question"><strong>What about bears?</strong></li>
            <li class="faq-answer">Black bears are not interested in you, they are interested in your food. We did have a black bear in Vermont that was particularly fond of banana chips. You do not need a bear canister but some people like them. I never saw anyone on the trail with bear spray.</li>
            <li class="faq-question"><strong>Did you carry a gun?</strong></li>
            <li class="faq-answer" id="faq-gun">No, for a couple of reasons:</li>
            <ul id="faq-sub-list">
                <li>Too heavy</li>
                <li>There have only been 11 murders on the AT since 1974</li>
                <li>I never felt in harms way over ~2,200 miles and after meeting hundreds of 'strangers'</li>
                <li>Very, very, heavy</li>
            </ul>
            <li class="faq-question"><strong>Did you ever want to quit?</strong></li>
            <li class="faq-answer">I never thought once about quitting. We were all pretty tired of hiking towards the end but were still having a lot of fun being with our friends.</li>
        <!--    <li class="faq-question"><strong>Was it hard?</strong></li>
            <li class="faq-answer"></li>
            <li class="faq-question"><strong>Any recommendations for hiking as a couple?</strong></li>
            <li class="faq-answer"></li> -->
            <li class="faq-question"><strong>Any overall advice?</strong></li>
            <li class="faq-answer">Talk to as many thru hikers as you can before you start the trail, each one will have different insights and little bits of wisdom. Feel free to <a href="mailto:scottabrown89@gmail.com">email</a> me with any questions you may have.</li>
            <li class="faq-question"><strong>What was your trail name?</strong></li>
            <li class="faq-answer">Laura's was Landlady and mine was Kreature.</li>
            <li class="faq-question"><strong></strong></li>
            <li class="faq-answer"></li>
            <li class="faq-question"><strong></strong></li>
            <li class="faq-answer"></li>
            <li class="faq-question"><strong></strong></li>
            <li class="faq-answer"></li>
            <li class="faq-question"><strong></strong></li>
            <li class="faq-answer"></li>
        </ul>
    </div>

</div>

{% endblock %}
