{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    {% include 'appalachian_trail/at_header.html' %}
    <h3 id="at-subheader">Raw Data</h3>
    </br>
    <div style="margin-right: 1%; margin-left: .5%;">
        <table class="table table-striped" style="100%">
            <tr>
                <th>Day</th>
                <th>Mile</th>
                <th>State</th>
                <th>Location</th>
                <th>Day Off</th>
                <th>Precipitation</th>
                <th>Precipitation Status</th>
                <th>Miles Hiked</th>
            </tr>
            {% for hd in hiking_days %}
            <tr class="bg-success">
                <td>{{ hd.day }}</td>
                <td>{{ hd.mile }}</td>
                <td>{{ hd.state }}</td>
                <td>{{ hd.location }}</td>
                <td>{{ hd.day_off }}</td>
                <td>{{ hd.precipitation }}</td>
                <td>{{ hd.precip_status }}</td>
                <td>{{ hd.miles_hiked }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
